body{
  font-family: arial;
  
}

header{
  margin: -10px;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
  background-color: #FF6600;
}
header h1{
  color: white;
}

aside{
  text-align: center;
  position: fixed;
  right: 20px;
  padding: 3px;
}

aside span, aside h3{
  font-weight: bold;
  color: #E68A00;
}

aside button{
  display: block;
  width: 150px;
}


article[id="test"] {
	text-align:justify;
  width: 70%;
  position: relative;/*Para centrar la seccion de forma vertical, ponemos posicion relativa para que el resto de elementos se posicione bien*/
  left: 50%;/*Desplazamos la mitad a la izquierda*/
    
  margin-left: -45%;/*Con valor negativo, desplazamos la mitad de la anchura de la capa a la izquierda*/
	  
    }

form{
  margin-bottom: 10px;
  margin-top: 20px;
}

legend{
  text-align: center;
  color: #E68A00;
  font-size: x-large;
}

fieldset{
  border-color:  #E68A00;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}

input[type="radio"]{
  margin-left: 30px;
}

img{
  vertical-align: middle;
}

div[id="error"]{
  background-color: #FFD6CC;
}

div[id="error"] h2{
  padding: 10px;
  text-align: center;
  color: #B22400;
}

div[id="acierto"]{
  background-color: #CCEBCC;
}

div[id="acierto"] h2{
  padding: 10px;
  text-align: center;
  color: #006B00;
}

div[id="resultado"]{
  margin: 20px 0 20px 0;
  padding: 10px;
  padding-left: 20px;
  background-color: #FFCC80;
}

div[id="resultado"] h2{
  text-align: center;
  color: #E65C00;
}

article[id="test"] a{
  margin-top: 15px;
}

footer{
  color: white;
  background-color: #FF9900;
  margin: -10px;
  margin-top: 10px;
  margin-bottom: -20px;
}

footer h2{
  padding: 10px;
  background-color: #FF6600;
  text-align: center;
}

footer p{
  padding: 15px;
}
footer ul{
  padding-bottom: 20px;
}

button, a, input[type="button"]{
  -moz-border-radius: 5px;
	border-radius: 5px;
  border: 2px;
  
  margin: 2px;
  padding: 8px;
  color: white;
  background-color: #E68A00;
  
  font-weight: bold;
  font-size: medium;
  text-decoration: none;
  
  border-left-color: #FF6600;
    border-bottom-color: #FF6600;
    border-right-color: #FFB84D;
    border-top-color: #FFB84D;
    border-style: solid;
  
  margin: 5px;
  margin-top: 12px;
}

button:hover, a:hover, input[type="button"]:hover{
  -moz-border-radius: 5px;
	border-radius: 5px;
  border: 2px;
  
  margin: 2px;
  padding: 8px;
  color: white;
  background-color: #FFA319;
  
  font-weight: bold;
  font-size: medium;
  text-decoration: none;
  
  border-left-color: #FF6600;
    border-bottom-color: #FF6600;
    border-right-color: #FFB84D;
    border-top-color: #FFB84D;
    border-style: solid;
  
  margin: 5px;
  margin-top: 12px;
}

button:disabled, input[type=button]:disabled{
  -moz-border-radius: 5px;
	border-radius: 5px;
  border: 2px;
  
  margin: 2px;
  padding: 8px;
  color: white;
  background-color: #AAAAAA;
  
  font-weight: bold;
  font-size: medium;
  text-decoration: none;
  
  border-left-color: #888888;
    border-bottom-color: #888888;
    border-right-color: #CCCCCC;
    border-top-color: #CCCCCC;
    border-style: solid;
  
  margin: 5px;
  margin-top: 12px;
}

article[id="temas"] {
	text-align: center;
  width: 40%;
  position: relative;/*Para centrar la seccion de forma vertical, ponemos posicion relativa para que el resto de elementos se posicione bien*/
  left: 50%;/*Desplazamos la mitad a la izquierda*/
    
  margin-left: -20%;/*Con valor negativo, desplazamos la mitad de la anchura de la capa a la izquierda*/
	margin-bottom: 7%;
  margin-top: 5%;
}

article[id="temas"] a{
	display: block;
}

article[id="temas"] h1{
	color: #E68A00;
}